{% extends 'base.html' %}

{% block title %}Мое резюме{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Мое резюме</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Образование</h2>
                <h4>КПК МИРЭА</h4>
                <p class="mb-0">Техник-программист</p>
                <p class="text-muted">2019 - 2023</p>
            </div>
            <div class="col-md-6">
                <h2>Опыт работы</h2>
                <h4>Старший инженер - ЦХД</h4>
                <p class="mb-0">Апрель 2022 г. - н.в.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Навыки</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Python</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Linux</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> PostgreSQL</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Git</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Контакты</h2>
                <p class="mb-0"><i class="fa fa-phone"></i> Телефон: +89776766865</p>
                <p class="mb-0"><i class="fa fa-envelope"></i> Email: EvgenyErshov2002@mail.ru</p>
                <p class="mb-0"><i class="fa fa-github"> GitHub: <a href="https://github.com/GimliBlackSmith"></i>example</a></p>
            </div>
            <div class="col-md-6">
                <h2>Языки</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> Английский (B1)</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> Русский (родной)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}